<footer class="site-footer">
  <div class="footer-container">
  <span>Aiste di Casa</span>
    <div class="fot-icon">
      <a href="https://api.whatsapp.com/send?phone=37068349117"><img src="/foto/icon/whatsapp2.svg"></a>
      <a href="https://www.facebook.com/share/1E3B2kHJ7f/?mibextid=wwXIfr"><img src="/foto/icon/facebook2.svg"></a>
    </div>
    <nav class="footer-nav">
      <ul class="footer-list">
        <li><a href="/">Privatumo Politika</a></li>
        <li><a href="/">Apie Mane</a></li>
        <li><a href="/kontakt">Kontaktai</a></li>
        <p>&copy; Aiste di Casa</p>
      </ul>
    </nav>
  </div>
</footer>
