<header class="site-header">
  <div class="header-container">
    <a href="/" class="logo">
    <span>Aistedicasa</span>
    </a>

    <div class="right-block">
      <div class="lang-fab">
        <div class="language-selector">
          <label for="lang-switcher" class="visually-hidden">Select language</label>
          <select id="lang-switcher">
            <option value="cs" selected>🇱🇹 LT</option>
            <option value="en">🇬🇧 EN</option>
            <option value="ru">🇷🇺 RU</option>
            <option value="de">🇩🇪 DE</option>
            <option value="lv">🇱🇻 LV</option>
            <option value="pl">🇵🇱 PL</option>
            <option value="fi">🇫🇮 FI</option>
            <option value="it">🇮🇹 IT</option>
            <option value="sl">🇸🇮 SL</option>
            <option value="no">🇳🇴 NO</option>
          </select>
        </div>
      </div>

<nav class="main-nav">
  <ul class="nav-list">
    

    <li class="dropdown-item">
      <a href="#" class="dropdown-toggle" data-i18n="head2">Parduodame</a>
      <ul class="dropdown-contacts">
        <li><a href="/appart" data-i18n="head3">Butai</a></li>
        <li><a href="/villa" data-i18n="head4">Vilos</a></li>
      </ul>
    </li>
    <li><a href="/rent" data-i18n="head5">Nuoma</a></li>
    <li><a href="/sold" data-i18n="head6">Parduota</a></li>
    <li><a href="/" data-i18n="head7">Publikacijos</a></li>
    <li><a href="/" data-i18n="head1">Apie Mane</a></li>
    <li><a href="/kontakt" data-i18n="head8">Kontaktai</a></li>
  </ul>
</nav>


      <div class="burger-wrapper">
        <div class="burger-menu" onclick="toggleMenu()">
          <div></div><div></div><div></div>
        </div>
      </div>
    </div>
<nav class="mobile-nav">
    <ul>
          <li><a href="/appart" data-i18n="head1">Butai</a></li>
          <li><a href="/villa" data-i18n="head2">Vilos</a></li>
          <li><a href="/rent" data-i18n="head3">Nuoma</a></li>
          <li><a href="/kontakt" data-i18n="head4">Kontaktai</a></li>
          <li><a href="/sold" data-i18n="head5">Parduota</a></li>
          <li><a href="/" data-i18n="head6">Apie Mane</a></li>
          <li><a href="/" data-i18n="head7">Publikacijos</a></li>
    </ul>
</nav>
  </div>
</header>

