<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <title>{% if page.title %}{{ page.title }} | aistedicasa{% else %}aistedicasa{% endif %}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    
    body {
    font-family: 'Poppins', sans-serif;
}
    </style>

</head>
<body>
    <!-- Включаем шапку -->
    {% include "header.njk" %}

    <!-- Основной контент -->
    <main>
        {{ content | safe }}
    </main>

    <!-- Включаем подвал -->
    {% include "footer.njk" %}



    <!-- Подключаем скрипты -->
    <script src="/script/common.js"></script>
</body>
</html>