---
title: Appart
layout: layout.njk
---

<link rel="stylesheet" href="/styles/list.css">

<section id="home">
  <section class="home-properties" id="properties-container">
    <!-- Карточки будут рендериться сюда через JS -->
  </section>
</section>

<script src="/script/appart.js"></script>