---
title: Blog
layout: layout.njk
---
<link rel="stylesheet" href="/styles/blog.css">

  <section class="blog-categories">
    <div class="category-card">
      <img src="/foto/galeri/11.webp" alt="Butai">
      <div class="card-overlay">
        <h2>Calabria</h2>
        <p>Lorem Ipsum ir kļuvis par vispārpieņemtu</p>
        <a href="/appart" class="btn-read-more">PLAČIAU →</a>
      </div>
    </div>

    <div class="category-card">
      <img src="/foto/galeri/12.webp" alt="Butai">
      <div class="card-overlay">
        <h2>Italy</h2>
        <p>teksta aizvietotāju kopš 16. gadsimta sākuma.<p>
        <a href="/villa" class="btn-read-more">PLAČIAU →</a>
      </div>
    </div>

    <div class="category-card">
      <img src="/foto/galeri/13.webp" alt="Butai">
      <div class="card-overlay">
        <h2>Property</h2>
        <p>Tajā laikā kāds nezināms iespiedējs</p>
        <a href="/beach" class="btn-read-more">PLAČIAU →</a>
      </div>
    </div>
  </section>


<script src="/script/blog.js"></script>