---
title: BlogInfo
layout: layout.njk
---

<link rel="stylesheet" href="/styles/bloginfo.css">
  <section class="hero-section1">
    <div class="center-section">
      <div class="center">

        <!-- Заголовок -->
        <div class="info-prev">
          <h1>Заголовок H1</h1>
          <h2>Подзаголовок H2</h2>
        </div>

        <!-- Основной контент -->
        <div class="content-info">
          <p class="pclassH2">Заголовок абзаца</p>
          <p class="pclassText">Текст абзаца — здесь будет описание, информация, история и т.д.</p>

          <p class="pclassH2">Еще один заголовок</p>
          <p class="pclassText">Дополнительный текст. Можно добавить несколько абзацев.</p>

          <p class="pclassH2">И еще один</p>
          <p class="pclassText">Текст для последнего раздела. Можно вставить ссылку или кнопку.</p>
        </div>

      </div>
   </div>
        <div>
        <a href="/blog" class="btn-read-more">Return →</a>
      </div>
  </section>