---
title: Home
layout: layout.njk
---

        <link rel="stylesheet" href="/styles/home.css">
    <section id="home">
<section class="center-line-block" style="background-image: url('/foto/galeri/1.webp');">
  <div class="center-line"></div>
  <button class="side-btn left-btn">BUTAI</button>
  <button class="side-btn right-btn">NAMAI</button>
</section>
    </section>