---
title: Home
layout: layout.njk
---

        <link rel="stylesheet" href="/styles/home.css">
    <section id="home">
<section class="home-properties">
      <div class="property-card" style="background-image: url('/foto/galeri/1.webp');">
    <div class="property-content">
  <div class="property-text">
      <h3>Panoraminiai apartamentai<br>su įspūdinga terasa</h3>
    <p class="property-description">
      Tai ne tik būstas, tai gyvenimo būdas – tiems, kurie vertina komfortą, panoraminius vaizdus ir prestižinę Vilniaus lokaciją.
    </p>
    </div>
    <div class="prop-down-sec">
    <div>
      <p class="property-size">96 kv.m</p>
      <p class="property-price">950 000 €</p>
    </div>
<div class="property-buttons">
  <a class="btn-main" href="/property">Plačiau</a>
  <a class="btn-icon" href="#">&#8594;</a>
</div>
</div>
    </div>
  </div>

      <div class="property-card" style="background-image: url('/foto/galeri/2.webp');">
    <div class="property-content">
  <div class="property-text">
      <h3>Panoraminiai apartamentai<br>su įspūdinga terasa</h3>
    <p class="property-description">
      Tai ne tik būstas, tai gyvenimo būdas – tiems, kurie vertina komfortą, panoraminius vaizdus ir prestižinę Vilniaus lokaciją.
    </p>
    </div>
    <div class="prop-down-sec">
    <div>
      <p class="property-size">96 kv.m</p>
      <p class="property-price">950 000 €</p>
    </div>
<div class="property-buttons">
  <a class="btn-main" href="#">Plačiau</a>
  <a class="btn-icon" href="#">&#8594;</a>
</div>
</div>
    </div>
  </div>

      <div class="property-card" style="background-image: url('/foto/galeri/3.webp');">
    <div class="property-content">
  <div class="property-text">
      <h3>Panoraminiai apartamentai<br>su įspūdinga terasa</h3>
    <p class="property-description">
      Tai ne tik būstas, tai gyvenimo būdas – tiems, kurie vertina komfortą, panoraminius vaizdus ir prestižinę Vilniaus lokaciją.
    </p>
    </div>
    <div class="prop-down-sec">
    <div>
      <p class="property-size">96 kv.m</p>
      <p class="property-price">950 000 €</p>
    </div>
<div class="property-buttons">
  <a class="btn-main" href="#">Plačiau</a>
  <a class="btn-icon" href="#">&#8594;</a>
</div>
</div>
    </div>
  </div>

      <div class="property-card" style="background-image: url('/foto/galeri/4.webp');">
    <div class="property-content">
  <div class="property-text">
      <h3>Panoraminiai apartamentai<br>su įspūdinga terasa</h3>
    <p class="property-description">
      Tai ne tik būstas, tai gyvenimo būdas – tiems, kurie vertina komfortą, panoraminius vaizdus ir prestižinę Vilniaus lokaciją.
    </p>
    </div>
    <div class="prop-down-sec">
    <div>
      <p class="property-size">96 kv.m</p>
      <p class="property-price">950 000 €</p>
    </div>
<div class="property-buttons">
  <a class="btn-main" href="#">Plačiau</a>
  <a class="btn-icon" href="#">&#8594;</a>
</div>
</div>
    </div>
  </div>

      <div class="property-card" style="background-image: url('/foto/galeri/5.webp');">
    <div class="property-content">
  <div class="property-text">
      <h3>Panoraminiai apartamentai<br>su įspūdinga terasa</h3>
    <p class="property-description">
      Tai ne tik būstas, tai gyvenimo būdas – tiems, kurie vertina komfortą, panoraminius vaizdus ir prestižinę Vilniaus lokaciją.
    </p>
    </div>
    <div class="prop-down-sec">
    <div>
      <p class="property-size">96 kv.m</p>
      <p class="property-price">950 000 €</p>
    </div>
<div class="property-buttons">
  <a class="btn-main" href="#">Plačiau</a>
  <a class="btn-icon" href="#">&#8594;</a>
</div>
</div>
    </div>
  </div>
</section>

    </section>