---
title: List
layout: layout.njk
---

<link rel="stylesheet" href="/styles/kontakt.css">
<section id="home">
<section class="kont-properties">
	<h2>KONTAKTAI</h2>
	<div class="kont-foto" style="background-image: url('/foto/team.webp');"></div>
	<div class="kont-info">
		<h3>Norite įsigyti butą ar vilą? Jūsų paslaugoms aistedicasa.</h3>
		<div class="kont-call">
		<a href="tel:+37068349117">+37068349117</a>
		<a href="mailto:aistedicasa@gmail.com">austedicasa@gmail.com</a>
		<a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=37068349117">WhatsApp</a>
		<a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/share/1E3B2kHJ7f/?mibextid=wwXIfr">Facebook</a>
		</div>
		<div class="call-info">
		<a target="_blank" rel="noopener noreferrer" href="https://maps.app.goo.gl/se2ihKeVaFoiuv5HA">Kęstučio g. 32 C, Vilnius</a>
		<p>LT-08112</p>
		</div>
	</div>
</section>
</section>